/*:root {*/
/*    --icon-size:18px;*/
/*}*/
body {
    margin: 0;
    background: #E6E6E6;

}

#circle-container {
    padding-right: 10em;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.box {
    /*background-color: #E6563B;*/
    border-radius: 100%;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-bottom: 20px;
    border: 10px solid #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    color: #F0F0F0;

}
#red {
    background-color: #E6563B;
}
#orange {
    background-color: #EB9D3A;
}
#green {
    background-color: #7CB06C;
}
#blue {
    background-color: #00ABA9;
}
.header {
    font-family: 'Anton', sans-serif;
}
.side-bar {
    font-family: 'Anton', sans-serif;
    font-size: 10px;
}
.side-bar-p2 {
    font-family: 'Abel', sans-serif;
    font-size: 10px;
}
.side-bar-p {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
}
#container-4 {
    margin-top: 5em;
}
#container-1 {
    margin-bottom: 1em;
}
#container-2 {
    margin-bottom: 1em;
}
.hr {
    display: block;
    content: "";
    height: 1px;
    border: 1px solid darkgray;
    width: 100%;
    margin-top: 8vh;
    margin-bottom: 8vh;
}



.icon-small {
    width: 18px;
    height: 18px;
   border-radius: 50%;
    color: black;
    padding-left: .5em;
    font-size: 10px;
}
.icon-red {
    background-color: #E6563B;
}.icon-orange {
    background-color: #EB9D3A;
}.icon-green {
    background-color: #7CB06C;
}.icon-blue {
    background-color: #00ABA9;
}
 .box:hover {
     color: black;
 }

div.row {
    border: dotted 1px red;
}
div.col {
    border: dotted 1px blue;
}
div.tall-row {
    height: 300px;
}




